.dark{
    background-color: #222;
    color: #e6e6e6;
}

html, body, footer {
    background-color: #DDE1E7;
}

.recipe-header h1 {
    text-align: center;
    margin: 20px 0px 30px;
}

.col-md-4 {
    /* border: 1px solid green; */
}

.recipe-desc {
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
}

.recipe-header {
    margin-bottom: 30px;
}

/* .recipe-ingredients, .recipe-steps {
    border: 1px solid red;
} */

#ingredients {
    /* box-shadow: 10px 10px 50px #54B4D3; */
}

.recipe-steps {
    text-align: justify;
    text-justify: inter-word;
}

#recipe-one, #recipe-two {
    /* box-shadow: 20px 20px 50px grey; */
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                10px 10px 15px rgba(70,70,70,0.12);
}

.recipe-body {
    margin-bottom: 30px;
    
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-container #individual-comment {
    border: 0.3px solid grey;
    border-radius: 12px;
    padding: 10px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);}

.comment-container ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: -18px;
}

.comment-container p {
    margin-bottom: 60px;
}

.comment-container #user-name {
    margin-left: -2rem;
    font-weight: bolder;
}

