.dark{
    background-color: #222;
    color: #e6e6e6;
}

.recipe-header h1 {
    text-align: center;
    margin: 20px 0px 30px;
}

.col-md-4 {
    /* border: 1px solid green; */
}

.recipe-desc {
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
}

.recipe-header {
    margin-bottom: 30px;
}

/* .recipe-ingredients, .recipe-steps {
    border: 1px solid red;
} */

.recipe-steps {
    text-align: justify;
    text-justify: inter-word;
}

.recipe-body {
    margin-bottom: 30px;
}

.comment-container ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: -18px;
}

.comment-container p {
    margin-bottom: 60px;
}

.comment-container #user-name {
    margin-left: -2rem;
    font-weight: bolder;
}

